<% provide(:title, "About") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <div class="center">
        <h3>
            <u>Reiki Healing</u>
        </h3>
        <%= image_tag("reiki.png", alt: "reiki", title: "reiki healing") %>
        <p>
            <br />
            Also known as "the laying on of hands" Reiki is the healing technique based on the principle of channeling divine energy into the client through gentle touch. With this you can heal your mind, body and spirit.
        </p>
        <p>
            <b>Hour long session: $60.</b>
        </p>
        <br />
        
        <h3>
            <u>Astrology Chart Readings</u>
        </h3>
        <%= image_tag("astrology.png", alt: "astrology", title: "astrological consultation") %>
        <p>
            <br />
            An astrology chart is your astrological thumb print. Humans have been studying this art form for thousands of years. Having your chart read can help you better understand yourself, your past, and your future. Ask for a transit chart reading, to see how the planets are affecting you in current time.
        </p>
        <p>
            <b>Digital single planet transit reading: $30.</b>
        </p>
        <p>
            <b>Digital full chart reading: $60.</b>
        </p>
        <br />
        
        <h3>
            <u>Tarot Readings</u>
        </h3>
        <%= image_tag("tarot.png", alt: "tarot", title: "tarot readings") %>
        <p>
            <br />
            Tarot reading is an art form that dates back to the mid 15th century to help guide your soul to stay on the right track. Tarot cards can help guide you to a more clear path for any of those tough moments in your life.
        </p>
        <p>
            <b>Digital and in person readings available:</b>
        </p>
        <p>
            <b>Mini-reading: $30.</b> 
        </p>
        <p>
            <b>Full Spread: $60</b>
        </p>
        <br />
        
        <h3>
            <u>Herbology</u>
        </h3>
        <%= image_tag("herbs.png", alt: "herbology", title: "herbology") %>
        <p>
            <br />
            We can put together a special blend of herbs that would best suit your needs, after discussing the issues you're experiencing, or the results you would like. You will be guided on how to use the blend, and its effects.
        </p>
        <p>
            <b>Prices may vary depending on ingredient availability.</b>
        </p>
        <br />
        
        <h3>
            <u>Space Clearing</u>
        </h3>
        <%= image_tag("space.jpg", alt: "space clearing", title: "space clearing") %>
        <p>
            <br />
            Energy Space Clearing
        </p>
        <p>
          <b>Hour long session: $60.</b>
         </p>
    </div>
</meta>