<div class="col-xs-12 col-md-8">
    <div class="center">
        <%= image_tag("emma.png", alt: "emma picture", title: "emma picture") %>
        <p>
            <br />
            Emma Cate has been practicing the healing arts for many years, and has finally decided to share her abilities with the world! Emma went to a small art school in Lancaster city, PA. Leading her to find the right people to help her grow and start her own business. She aims to help others with healing their emotional, physical and mental bodies, using metaphysical methods. 
        </p>
        <br />
    </div>
</div>

<div class="col-xs-6 col-md-4">
    <div>
        <h2>
            Tel: 215-208-5519
        </h2>
        <h2>
            Email: EmmaCate8@gmail.com
        </h2>
        <h2>
            <%= render 'layouts/insta_button' %>
        </h2>
    </div>
</div>

