<% provide(:title, "Home") %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <body id="homephone">
        <div class="center">
        </div>
    </body>
</meta>