<% provide(:title, "Sign up") %>
<h1>Sign up</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, url: signup_path) do |user| %>
        <%= render 'shared/error_messages' %>
            
            <%= user.label :name %>
            <%= user.text_field :name, class: 'form_control' %>
            
            <%= user.label :email %>
            <%= user.email_field :email, class: 'form_control' %>
            
            <%= user.label :password %>
            <%= user.password_field :password, class: 'form_control' %>
            
            <%= user.label :password_confirmation, "Password Confirmation" %>
            <%= user.password_field :password_confirmation, 
                                           class: 'form_control' %>
            
            <%= user.submit "Sign up", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
