<% provide(:title, @user.name) %>
<div class="row">
    <div class="col-md-4">
        <section class="user_info">
            <h1>
                <%= @user.name %>, <%= @user.email %>
            </h1>
        </section>        
    </div>
</div>