<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <div class="center">
  <% if @posts.any? %>
    <%= will_paginate %>
      <% @posts.each do |post| %>
        <h6>
          <%= post.created_at.strftime('%b %d, %Y') %></h6>
        </h6>
        <h3>
          <u><%= link_to "#{post.title}", post_path(post) %></u>
        </h3>
        <div class="center">
          <p>
            <%= truncate post.description, length: 300 %>
          </p>
        </div>
        <br>
      <% end %>
    <%= will_paginate %>
  </div>
  <% else %>
    <h1>Coming soon!</h1>
  <% end %>
</meta>