@import "bootstrap-sprockets";
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */

body {
  padding-top: 0px;
}

#home {
  background: url(ForChristian.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
#homephone {
  background: url(ForChristian.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }

img {
  max-width: 100%;
} 

#total {
  padding-left: 10px;  
}

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 6em;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Tangerine', cursive;
}

h2 {
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $black;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-family: 'Tangerine', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

h4 {
  font-size: 1.0em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-family: 'Tangerine', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  color: $dark-gray;
}

h6 {
  font-family: 'Tangerine', cursive;
  line-height: 1;
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.phone-email {
  font-family: 'Tangerine', cursive;
  line-height: 1;
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $dark-gray;
}


/* header */
.navbar {
  background-color: $white;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.6;
 }
 
#logo {
  font-family: 'Miss Fajardose', cursive;
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 4.0em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: light;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-phone {
  font-family: 'Miss Fajardose', cursive;
  font-size: 4.0em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: light;
}

#logo-phone-two {
  font-family: 'Tangerine', cursive;
  font-size: 2.9em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: light;
}


#logo-two {
  font-family: 'Tangerine', cursive;
  float: left;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 2.7em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: light;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-three {
  font-family: 'Tangerine', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 2.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

 /* Checkout/Products */
 
#checkout-logo {
  margin-left: 10px;
  float: right;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

#checkout-logo-two {
  margin-left: 10px;
  float: left;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}

#checkout-logo-three {
  margin-left: 0px;
  margin-right: 0px;
  float: right;
  line-height: 1;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: right;
  font-weight: normal;
  color: $dark-gray;
}

#checkout-logo-four {
  margin-left: 0px;
  float: right;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: right;
  font-weight: normal;
  color: $dark-gray;
}

#checkout-logo-five {
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: $light-gray;
  }
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* footer(no footer) */
/*
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
*/

/* sidebar */

#sidebar {
  position: fixed;
  right:0;
}

#logo-three-phone {
  font-family: 'Tangerine', cursive;
  font-size: 2.4em;
}

.menu-header-phone {
  font-family: 'Tangerine', cursive;
  line-height: 1;
  font-size: 2.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.menu-header {
  font-family: 'Tangerine', cursive;
  float: right;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
  line-height: 1;
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Products index */

.products {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#paypalbutton {
  height: 50px;
  width: 200px;
  margin:0 auto;
}

paypalbutton {
  height: 50px;
  width: 200px;
}

/* Slider */

.slides { 
  height: 350px;
  width: 310px;
  margin:0 auto;
}

.flex-direction-nav a:before {
    font-family:"Arial";
    font-size: 40px;
    line-height:1;
    display: inline-block;
    content:'<';
}

.flex-direction-nav a.flex-next:before {
    content:'>';
}



