<div class="container-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <%= simple_form_for @product do |p| %>
    <%= render 'shared/error_messages', object: p.object %>
    
        <div class="form-group">
            <%= p.input :title, class: "form-control" %>
        </div>
    
        <div class="form-group">
            <%= p.input :description, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= p.input :price, class: "form-control" %>
        </div>
        
        <div class="form-group">
            <%= p.input :paypalbutton, class: "form-control" %>
        </div>
        
        <div class="form-group">
            <%= p.input :active, class: "form-control" %>
        </div>
        
        <span class="picture">
            <%= p.file_field :picture %>
        </span>
        
        <div class="btn">
            <%= p.button :submit %>
        </div>
        
    <% end %>
    </div>
<div class="col-sm-2"></div>
</div>
