<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div class="center">
<% if @products.any? %>  

  <%= will_paginate %>
  <% @products.each do |product| %>
      <h3>
        <u><%= link_to "#{product.title}", product_path(product) %></u>
      </h3>
      <div class="center">
        <%= image_tag product.picture.url if product.picture? %>
          <% if product.active == false %>
            <p>Sorry, this product is not available at this time.</p>
          <% else %>
             <div id="paypalbutton"><%= raw product.paypalbutton %></div>
          <% end %>
          <br />
      </div>
      <br>
  <% end %>
  <%= will_paginate %>
  
<% else %>
  <h1>Coming soon!</h1>
<% end %>
</div>
</meta>