<div class="container-center">
<% if @products.any? %>  
  
<% @products.in_groups_of(4, false) do |group| %>
  <% for product in group %>
    <ul class="nav navbar-nav">
      <li>
        <div class="card" style="width: 25rem;">
          
          <% if product.picture? %>
            <%= link_to(image_tag(product.picture.url), product_path(product) ) %>
          <% end %>
          
  
          <div class="card-block">
            <h3 class="card-title">
              <u><%= link_to "#{product.title}", product_path(product) %></u>
            </h3>
            
            <div class="center">
              $<%= product.price %>
              <% if product.active == false %>
                <p class="card-text">Sorry, this product is not available at this time.</p>
              <% else %>
                <div class="card-text" id="paypalbutton"><%= raw product.paypalbutton %></div>
              <% end %>
            </div>
            
          </div>
        </div>
      </li>
    </ul>
  <% end %>
<% end %>

<% else %>
  <h1>Coming soon!</h1>
<% end %>
</div>