<h2>Create New Product</h2>
<% if logged_in? && current_user.admin? %> 
<%= render "products/form" %>
<% else %>
<div class="center">
<h2><%= link_to "Log in to post", login_path %></h2>
</div>
<% end %>