<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <div class="container-center">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1><%= @product.title %></h1>
         <%= image_tag @product.picture.url if @product.picture? %>
        <h5><%= @product.description %></h5>
        $<%= @product.price %>
          <% if @product.active == false %>
            <p>Sorry, this product is not available at this time.</p>
          <% else %>
            <div id="paypalbutton"><%= raw @product.paypalbutton %></div>
          <% end %>
          <br />
        <p><%= link_to "Return to Store", products_path %></p>
        <% if logged_in? %>
          <p><%= link_to "Edit", edit_product_path(@product) %></p>
          <p><%= link_to 'Delete', @product, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></p>
        <% end %>
        </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</meta>