<div class="column col-xs-3" id="sidebar">
        <div class="sidebar-nav-fixed pull-right affix">    
                <ul class="nav">
                    <div class="center">
                    <ul><h5>Categories</h5></ul>
                    <% @categories = Category.all.order(created_at: :desc) %>
                    <% @categories.each do |category| %>
                        <ul id="p-side">
                            <blog-headers>
                                <%= link_to "#{category.name}", category_path(category) %>
                                <% if logged_in? && current_user.admin? %>
                                    <%= link_to 'x', category, method: :delete, :onclick => "return confirm('Are you sure you want to delete this category?')" %>
                                <% end %>
                            </blog-headers>
                
                        </ul>
                    <% end %>
                    </div>
                </ul>
        </div>    
</div>