<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <% if logged_in? && current_user.admin? %>
            <%= render 'layouts/logged_in_header' %>
        <% end %>
        <div class="container"><%= link_to "Emma  Cate", root_path, id: "logo" %></div>
        <div class="container"><%= link_to "Spiritual Advisor", root_path, id: "logo-two" %></div>
    </div>
    <br>
    <div class="container-center">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Services", about_path, method: :get, id: "logo-three" %></li>
                <li><%= link_to "Contact", contact_path, id: "logo-three" %></li>
                <li><%= link_to "Store", products_path, id: "logo-three" %></li>
                <li><%= link_to "Blog", posts_path, id: "logo-three" %></li>
            </ul>
        </nav>
    </div>
</header>