<header class="navbar navbar-fixed-bottom">
    <div class="center">
    <div class="container">
        <div class="container" id="logo-phone">Emma  Cate</div>
        <div class="container" id="logo-phone-two">Spiritual Advisor</div>
    </div>
    </div>
    <br />
    <%= render 'layouts/menu_phone' %>
</header>


