<!DOCTYPE html>
<html>
  
  <meta property="og:url"           content="www.emmacate8.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Emma Cate, Spiritual Advisor" />
  <meta property="og:description"   content="Emma Cate, Spiritual Advisor" />
  <meta property="og:image"         content="assets/ForChristianPhone.jpg" />
  
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag 'favicon-infinity.png' %>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
  </head>
  <body>
    <%= render 'layouts/application_layout' %>
  </body>
</html>

<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Italianno|Mr+De+Haviland" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Miss+Fajardose|Monsieur+La+Doulaise|Rouge+Script" rel="stylesheet">

