<!DOCTYPE html>
<html>
  
  <meta property="og:url"           content="www.emmacate8.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Emma Cate, Spiritual Advisor" />
  <meta property="og:description"   content="Emma Cate, Spiritual Advisor" />
  <meta property="og:image"         content="assets/ForChristianPhone.jpg" />
  
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <% if current_page?(root_url) %>
        <%= render 'layouts/phone_header_home' %>
      <% else %>
        <%= render 'layouts/phone_header' %>
      <% end %>
  </head>
    <body>
      <%= render 'layouts/application_layout' %>
    </body>
</html>
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Italianno|Mr+De+Haviland" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Miss+Fajardose|Monsieur+La+Doulaise|Rouge+Script" rel="stylesheet">

